.App {
  text-align: center;
}

.ant-page-header-heading-sub-title {
  color: rgb(112, 114, 114);
  font-weight: 400;

  text-transform: uppercase;
}

.header-title {
  color: rgb(112, 114, 114);
  font-weight: 400;

  text-transform: uppercase;
}
.ant-page-header-heading {
  margin: 0 50px;
}
.logo {
  display: flex;
}
.ant-layout-header {
  height: 80px;
}

.site-layout-content {
  min-height: 280px;
  padding: 24px;
  background: #fff;
}
#components-layout-demo-top .logo {
  float: left;
  width: 120px;
  height: 31px;
  margin: 16px 24px 16px 0;
  background: rgba(255, 255, 255, 0.3);
}
.ant-row-rtl #components-layout-demo-top .logo {
  float: right;
  margin: 16px 0 16px 24px;
}
.spin {
  text-align: center;
  border-radius: 4px;
  margin-bottom: 20px;
  padding: 30px 50px;
  margin: 20px 0;
}

.ant-table-tbody > tr > td {
  height: 100px;
  padding: 10px;
}
